:root {
    --color-bg: #323E45;
    --color-text: #FBCA6B;
    --color-text-active: #FEFFF1;

    --height-header: 10vh;
    --height-button-menu: 50px;
    --menu-circle: 768px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    background-color: var(--color-bg);
}

.header {
    max-width: 1240px;
    min-height: var(--height-header);
    margin: 0 auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;

    position: relative;
}

.title-icon img {
    width: 50px;
    height: 75px;

}

.title {
    padding: 0 1vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    gap: 1vw;
}

.h1 {

    color: var(--color-text);
}

.text-hover {
    transition: 0.3s ease;
}

.text-hover:hover {
    color: var(--color-text-active);
}

#menu {
    padding: 0 1vw;
}

#menu-lines {
    position: relative;
    z-index: 10;
    min-width: calc(var(--height-button-menu)*1.5);
    height: var(--height-button-menu);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    width: 100%;
    height: calc(var(--height-button-menu) / 5);

    transition: 0.3s ease;
    transform-origin: right top;

    border-radius: 5px;
    background-color: var(--color-text);
}

.open-menu {}

.open-menu .line {
    background-color: var(--color-text-active);
}

.open-menu #line1 {
    transform: translateX(-4px) translateY(-2px) rotate(-37.5deg);
}

.open-menu #line2 {
    opacity: 0;
}

.open-menu #line3 {
    transform: translateX(2px) translateY(4px) rotate(37.5deg);
}

#nav {
    z-index: 9;
    display: none;

    position: absolute;
    top: 0;
    right: 0;

    width: var(--menu-circle);
    height: var(--menu-circle);
}

.show-block {
    display: block !important;
}

#nav-bg {
    z-index: 8;

    position: absolute;
    top: 0;
    right: 0;

    width: 0;
    height: 0;

    transition: 0.3s ease;

    background-color: var(--color-text);
    border-radius: 50%;
}

.show-block-bg {
    width: var(--menu-circle) !important;
    height: var(--menu-circle) !important;
}

#menu-list {
    z-index: 10;

    position: absolute;
    top: 0;
    right: 0;

    width: 0;
    height: 0;

    transition: 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2vh;
}

#menu-list a {
    color: var(--color-text-active);
    text-shadow: 1px 1px var(--color-bg);
}

@media all and (max-width: 765px) {
    #nav-bg {
        border-radius: 0;
    }

    .show-block-bg {
        width: 100vw !important;
        height: 100vh !important;
    }

}